<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<input type="file" id="fileInput" accept="image/*">
<select id="flip-type">
    <option value="vertical">Vertical</option>
    <option value="horizontal">Horizontal</option>
    <option value="both">Both</option>
</select>
<button id="submit">Submit</button>
<a id="download-link">image</a>
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>